/*
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   background-color: #343333;
   font-size: 17px;
   color: #fff;
   height: 100vh;
}

#menu {
   height: 95%;
   width: 300px;
   background-color: #3e3d3d;
   margin: 20px;
   border-radius: 15px;
}

*/



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #272626;
   font-size: 13px;
   /* Decreased font size */
   color: #fff;
   height: 100vh;
}

#menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 90%;
   width: 250px;
   background-color: #2d2c2c;
   margin: 35px;
   border-radius: 15px;
   border: 1px solid #5c5a5a;
}

.menu-button {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   padding: 10px;
   color: #fff;
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
   /* Smooth transition */
}

.menu-button:hover {
   background-color: #444;
   /* Darker background on hover */
}

.menu-button:active {
   transform: translateY(2px);
   /* Move the button down slightly when clicked */
}

.menu-icon {
   margin-right: 12px;
   margin-left: 16px;
   width: 15px;
   font-size: 12px;
}

#resultat {

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 90%;
   width: 1200px;
   background-color: #2d2c2c;
   margin: 35px;
   margin-right: -40px;
   border-radius: 15px;
   border: 1px solid #5c5a5a;
}




.container {
   display: flex;
   height: 100%;
}

.titre {

   color: white;
}