/*
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   background-color: #343333;
   font-size: 17px;
   color: #fff;
   height: 100vh;
}

#menu {
   height: 95%;
   width: 300px;
   background-color: #3e3d3d;
   margin: 20px;
   border-radius: 15px;
}

*/


/* Importation de la police Inter */
/* Importation de la police Inter */
/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Réinitialisation des styles par défaut */


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   /*background-color: #060218;*/
   font-size: 14px;
   /* Decreased font size */
   color: #d4d2da;
   height: 100%;
   margin: 0; /* Supprime les marges par défaut */
   --text-color-light: black;
   --text-color-dark: whitesmoke;
   --font-family: unset;
}

body {
   color: var(--text-color-light); /* Par défaut, la couleur du texte est noire en mode clair */
   font-family: var(--font-family); /* Utilise la police de caractères définie */
 }
 
 .dark body {
   color: var(--text-color-dark); /* En mode sombre, la couleur du texte est whitesmoke */
 }

.text-black{
   font-family:unset;
   
}



.text-white{
   font-family:unset;
}


#menu {
   display: flex;
   flex-direction: column;
   align-items: flex;
   justify-content: flex-start;
   width: 160px;
   height: 91%;
   background-color:  #F4F4F5; /* border-right: 5px solid #5d5d67;*/
   border-radius: 10;
   border: none;
   padding: 10px;
   margin: 0;
  
   position: fixed;
   top: 20;
   bottom: 0;
   left: 0;
   transition: transform 0.3s ease;
 }
 
 .light.menu {
   background-color:   #c5c6c9; /* Couleur de fond pour le ode clair */
 }
 
 .dark #menu {
   background-color: #272727; /* Couleur pour le mode sombre */
 }

 #menu.hidden {
   transform: translateX(-100%);
 }
 
 #menu.visible {
   transform: translateX(50);
 }
 
 #menuM {
   display: flex;
   align-items: center;
   justify-content: space-between; /* Aligne le bouton à droite */
   width: 100%;
   height: 50px;
   /*  Equivalent to bg-gray-200 in Tailwind CSS */
   background-color: #F4F4F5;
   border-radius: 5px;
   border: none;
   padding: 10px;
   margin-bottom: 20px;
   border-bottom: 5px solid to right, green, blue;
   position: fixed;
   top: 10;
   /*right: 0;*/
 }
 
 .dark #menuM {
   background-color: #272727; /* Couleur pour le mode sombre */
 }
 
 .left-section {
   display: flex;
   align-items: center;
 }
 
 .right-section {
   display: flex;
   align-items: center;
 }
 .logo {
   height: 40px; /* Ajustez la hauteur du logo selon vos besoins */
   margin-right: 10px; /* Espace entre le logo et le bouton de menu */
 }
 .menu-button, .menuM-button {
   display: flex;
   align-items: center;
   justify-content: flex;
   width: auto;
   padding: 10px;
   top: 12px;
   margin: 0 5px;
  /* color:black;*/
   background-color: #62626400;
   border-radius: 10px;
   /*transition: background-color 0.3s, color 0.3s;*/
   font-size: 15px;
   font-family: unset;
   
 }
 
 .menu-button:hover, .menuM-button:hover {
   background-color:#b9bbbd;
   color:#757577;
 }
 
 .menu-button:active, .menuM-button:active {
   transform: translateY(2px);
   background-color: #E5E7EB;
 }
 
 .menu-icon {
   margin-right: 5px;
   margin-left: 5px;
   font-size: 18px;
   color:#4c4c59;
 }
 .menuM-icon {
   margin-right: 5px;
   margin-left: 5px;
   font-size: 19px;
   color: #17bd5f;
 }
 
 #resultat {
   font-family: unset;
   display: flex;
   flex-direction: column;
   align-items: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: calc(100% - 20%); /* Adjust the width calculation if needed */
   margin-left: 0;
   transition: margin-left 0.1s ease;
   margin-right: 1px;
   top: 20;
   
   
 }
 
 #resultat.menu-hidden {
   width: 100%;
   margin-left: 0;
 }


 #resultat.menu-visible {
  margin-left: 160px; /* Adjust this margin to match the menu width plus any spacing */
  
  
}
 /* Pour le mode sombre */
.dark .bg-gray-200 {
   background-color: #272727; /* Définissez la couleur de fond pour le mode sombre */
   color:white;
 }
 
 .dark .bg-gray-200:hover {
   background-color: #262525; /* Couleur de survol pour le mode sombre */
 }
 
 /* Pour le mode clair */
 .light .bg-gray-200 {
   background-color: #F4F4F5; /* Définissez la couleur de fond pour le mode clair */
 }
 
 .light .bg-gray-300:hover {
   background-color: #E5E7EB; /* Couleur de survol pour le mode clair */
 }
 
.dark .text-black {
   color: whitesmoke;
}
.dark .text-white {
   color: rgb(18, 18, 18);
}
.dark .bg-white {
  background-color:black;
}






/*

#menu {
   display: flex;
   flex-direction: column; /* Direction verticale 
   align-items: flex-start; /* Aligne les éléments à gauche 
   justify-content: flex-start; /* Répartit l'espace entre les éléments verticalement 
   width: auto; /* Largeur automatique */
   /*height: 100%;  Hauteur de la fenêtre */
   /*background-color: #050115;
   border-radius: 0; /* Supprime la bordure
   border: none; /* Supprime la bordure
   padding: 10px; /* Ajoute un peu d'espace intérieur
   margin: 40; /* Supprime les marges
   border-right: 1px solid #3cb886f3;
   position: fixed;
   top: 20;
   left: 0; /* Fixe le menu à gauche
}


.menu-button:hover {
   background-color: #06021a; /* Nouvelle couleur de fond au survol
   color: #31c45f; /* Nouvelle couleur du texte au survol
}

.menu-button:active {
   transform: translateY(2px);
  
      background-color: #040115;
 
   /* Move the button down slightly when clicked
}

.menu-icon {
   margin-right: 5px;
   margin-left: 5px;
   font-size: 12px;
   color: #17C964;
}


.menu-button {
   display: flex;
   align-items: center;
   justify-content: flex-start; /* Aligne les éléments au début
   width: auto; /* Largeur de 100% du conteneur
   padding: 10px;
   color: #22ce4a;
   background-color: transparent;
   border: none;
   transition: background-color 0.3s, color 0.3s;
}


#menuM{
   display: flex;
   align-items: center; /* Aligne les éléments verticalement
   justify-content: space-between; /* Répartit l'espace entre les éléments
   width: 100%; /* Remplit toute la largeur de la fenêtre
   height:60px;
   background-color: #050115;
   border-radius: 10; /* Supprime la bordure
   border: none; /* Supprime la bordure
   padding: 10px; /* Ajoute un peu d'espace intérieur
   margin-bottom: 20px; /* Marge inférieure pour séparer le contenu
   border-bottom: 1px solid #020117;
   position: fixed;
}

.menuM-button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   color: #22ce4a;
   background-color: transparent;
   border: none;
   /*cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
   border: none;
  border-bottom: none; 
}



.menuM-button:hover {
   background-color: #06021a; /* Nouvelle couleur de fond au survol
   color: #31c45f; /* Nouvelle couleur du texte au survol
}

.menuM-button:active {
   transform: translateY(2px);
  
      background-color: #040115;
 
   /* Move the button down slightly when clicked
}

.menuM-icon {
   margin-right: 5px;
   margin-left: 5px;
   font-size: 12px;
   color: #17C964;
}

#resultat {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: auto;
   width: 100%; /* Remplit toute la largeur de la fenêtre
   /*background-color: #0d0121
   border-radius: 0;
   border: none;
   padding: 5px; /* Ajoute de l'espace intérieur
   padding-top: 10px;
   
   height: 100%; /* Hauteur de 100%

  
}
*/

a{
   color:#17C964;
}

#projet {
   background-color: #000; /* Fond noir */
   /*color: #fff;  Texte blanc */
   padding:20px; /* Espace intérieur */
   border-radius: 10px; /* Coins arrondis */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
   background-color: #060218; /* Couleur d'arrière-plan uniforme */
  border: none; /* Supprimer les bordures */
 }

.container {
   display: flex;
   height: 100%;
}

.titre {

   color: rgb(22, 6, 35);
}
/*.section-background {
   background-color: #27272A;
   padding: 50px; 
   border-radius: 20px;
 }*/
 .light {
   background-color: white;
   color: black;
   --result-background-color: #F4F4F5; /* Couleur pour le mode clair */
   
 }
 
 .dark {
   background-color: black;
   color: white;
   --result-background-color: #4A5568;
 }

 body.light {
   background-color: var(--background-color);
   color: var(--text-color);
 }
 
 body.dark {
   background-color: var(--background-color);
   color: var(--text-color);
 }
 
 .menu-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
 }
 
 .theme-toggle button {
   background: none;
   border: none;
   cursor: pointer;
   font-size: 1.5rem;
 }
 
 .charts-container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .section-background {
   background-color: var(--background-color);
   padding: 20px;
   border-radius: 10px;
 }
 
 .chart {
   margin: 20px 0;
 }
 